$soft-color: #72E3D8;
$base-color: #FFB035;
$secondairy-color: #EB5B55;

$light-color: #eeeeee;
$darker-color: #333333;
$dark-color: #000000;

/* ----------------------- */
/* General css */
/* ----------------------- */


body {
  margin: 0;
  font-family: pt-sans-pro, sans-serif !important;
  height: 100vh;
  width: 100%;
}

h3 {
  padding-bottom: 30px;
}

h1,
h2,
h3 {
  font-weight: 800 !important;
}

#wereldbol {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: -999;
  transform: translate(50%, 50%);

  width: 80%;
}

/* newspage */
p {
  margin-bottom: 0;
  font-family: pt-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100%;
}

.nieuwsartikel {
  margin-bottom: 2rem !important;
}

/* ----------------------- */
/* Header css */
/* ----------------------- */

nav {
  background-color: $light-color;
  margin-bottom: 50px;

  .navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end !important;
    padding: 1.5rem 0;
  }

  .logo {
    height: 80px;
    margin: 0;
  }


  ul {
    list-style: none !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
  }

  li {
    white-space: nowrap;
  }

}


nav li {
  margin-left: 75px;
  height: max-content;

  a {
    position: relative;
    font-weight: bold;
    text-decoration: none;
  }

  .active {
    color: $base-color !important;
  }

  a::after {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    left: -35px;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s;
  }

  a:hover {
    color: $base-color !important;
  }

  a:hover:after {
    transition: transform 0.2s;
    transform: scale(1.2, 1.2);
  }

  #home::after {
    background-image: url(../images/icons-black/home-icon.svg);
  }

  #kalender::after {
    background-image: url(../images/icons-black/kalender-icon.svg);
  }

  #nieuws::after {
    background-image: url(../images/icons-black/news-icon.svg);
  }

  #over-ons::after {
    background-image: url(../images/icons-black/gallery-icon.svg);
  }

  #contact::after {
    background-image: url(../images/icons-black/contact-icon.svg);
  }

  #home:hover::after {
    background-image: url(../images/icons/home-icon.svg);
  }

  #kalender:hover::after {
    background-image: url(../images/icons/kalender-icon.svg);
  }

  #nieuws:hover::after {
    background-image: url(../images/icons/news-icon.svg);
  }

  #over-ons:hover::after {
    background-image: url(../images/icons/gallery-icon.svg);
  }

  #contact:hover::after {
    background-image: url(../images/icons/contact-icon.svg);
  }

  .active#home::after {
    background-image: url(../images/icons/home-icon.svg);
  }

  .active#kalender::after {
    background-image: url(../images/icons/kalender-icon.svg);
  }

  .active#nieuws::after {
    background-image: url(../images/icons/news-icon.svg);
  }

  .active#over-ons::after {
    background-image: url(../images/icons/gallery-icon.svg);
  }

  .active#contact::after {
    background-image: url(../images/icons/contact-icon.svg);
  }
}

.backarrow {
  width: 30px;
  position: absolute;
}


/*      MOBILE NAVIGATION     */
.dropbtn {
  display: none;
}

@media only screen and (max-width: 995px) {
  .dropbtn {
    background-color: $base-color;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    width: 5rem;
    height: 3rem;
    display: inline-block;
  }

  .dropup {
    position: relative;
  }

  .dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f100;
    z-index: 1;

    margin: 0;
    margin-left: 25rem;
    margin-bottom: -1rem;
  }


  .dropup-content li {
    list-style: none;
    width: 100%;
  }

  .dropup-content li a {
    color: black;
    padding: 12px;
    text-decoration: none;
    left: 0;
  }

  .dropup:hover .dropup-content {
    display: inline;
  }

  .dropup:checked .dropbtn {
    background-color: $base-color;
  }
}

@media only screen and (max-width: 760px) {
  .dropup-content {
    margin-left: 15rem;
  }
}

@media only screen and (max-width: 760px) {
  .dropup-content {
    margin-left: 10rem;
    margin-bottom: -10rem;
  }
}

/* ----------------------- */
/* Footer css */
/* ----------------------- */
.animationsGSM {
  display: none;

}

@media only screen and (max-width:480px) {
  .animationsGSM {
    display: block;
    position: fixed;
    bottom: 50px;
    z-index: -999;
  }

  .animationsDSK {
    display: none;
  }
}

.animationsDSK {
  position: fixed;
  right: 0;
  bottom: -180px;
  z-index: -999;
}

footer {
  margin: 50px 0px 0px;
  overflow: visible;
  background-color: $secondairy-color;
  width: 100%;
  height: max-content;
  padding: 50px 0px;
  list-style: none;

  * {
    color: white !important;
  }


  .active {
    color: $base-color !important;
  }

  .footer-navigation {
    margin-bottom: 0;

    li {
      position: relative;

    }

    li::before {
      position: absolute;
      content: '';
      background: url(../images/icons/chevron-right-solid.svg);
      background-repeat: no-repeat;
      left: -25px;
      top: 6px;
      height: 12px;
      /*height of image*/
      width: 33px;
      /*width of image*/
      position: absolute;
    }

  }

}

.footerlogos img {
  width: 50px;
  margin: 5px;
}

.sociallinks img {
  width: 30px;
  white-space: nowrap;
}

footer ul {
  list-style: none !important;

  li {
    a {
      color: white !important;
    }
  }
}

/* ----------------------- */
/* Kalender css */
/* ----------------------- */

/* cards */

.card {
  position: inherit !important;
  border: none !important;
  margin: 2rem 0px;
}

.card img {
  padding: 0;
  width: 100%;
}

.info {
  position: relative;
  font-size: 15px;
  margin-top: -.7rem;

  p {
    margin: 1rem 0;
  }
}

.layout-btn {
  margin: 0 !important;
  padding: 0 0 1rem 0;
}

.event-layout-btn {
  border: none;
  background-color: transparent;
  width: 40px !important;
  height: 40px;
  background-size: cover;
  background-position: center;
}

.event-layout-btn:focus {
  outline: none;
}

.box-layout-btn {
  background-image: url(../images/icons/evenementen/box-layout-btn.svg);
}

.box-layout-btn.active {
  background-image: url(../images/icons/evenementen/box-layout-btn-selected.svg);
}

.row-layout-btn {
  background-image: url(../images/icons/evenementen/row-layout-btn.svg);
  margin-left: .5rem;
}

.filterlist {
  background-color: $base-color;
  margin: 0 0 3em 0 !important;
  padding: 1em;
  display: flex;

  span {
    display: inline;
    width: max-content;
    background-color: white;
    color: $base-color;
    margin-right: 1em;
    padding-right: 3em;
    position: relative;
  }

  span::after {
    content: 'x';
    position: absolute;
    top: -2px;
    right: 10px;
  }
}

.textbubblecontainer {
  margin-top: -1rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 35px !important;
  }

  span {
    color: $base-color;
    right: 20px;
    top: 5px;
    font-size: 1em;
  }
}

.datum {
  font-size: 20px;
  font-weight: 400;
  float: right;
  margin-right: 5%;
  line-height: 30px;
}

.titleDate {
  display: flex;
  justify-content: space-between;

  h2 {
    width: 60%;
    margin-bottom: 0;
  }
}

.description {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

.eventphoto {
  max-height: 270px;
  overflow: hidden;
}

.eventinfo {
  display: block;
  margin-top: 1rem;

  img {
    width: 25px;
    margin-right: .5rem;
  }
}

.price {
  font-size: 18px;
  position: relative;
  float: right;
  margin-right: 5%;
  transform: translate(0, 10px);
}

.price img {
  width: 25px;
  margin-right: .5rem;
}

/*Kalender*/

.cal-container {
  padding: 0;
  margin: 0;

  width: 100%;
  height: auto;


  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  font-family: "pt-sans-pro",
    sans-serif;
  font-weight: 600;
  font-style: normal;

}

.cal-container * {
  box-sizing: border-box;
}

.calendar {
  padding: 1rem;
  width: 100%;
  background-color: $secondairy-color;
  color: $secondairy-color;
}

#selected-date {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: 2rem 0;
}

.month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: max-content;
  background-color: $secondairy-color;
  padding: 0 2rem;
}

.month-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  font-family: 'PT-sans-pro', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

.month-slider p {
  padding: 0;
  margin: 0;
  color: $light-color;
}



.month .prev {
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  color: $light-color;
}

.month .next {
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  color: $light-color;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
  text-align: center;
}

.weekdays {
  width: 100%;
  color: $light-color;

  tr {
    width: 100%;
  }
}

.weekdays td {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
}

.days {
  width: 100%;
  margin: 0.2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-spacing: 20px;
}

.days td {
  margin: 0.3rem;
  color: $secondairy-color;
  font-size: 18px;
  border: 0;
}

.days td:not(.today) {
  background-color: $light-color !important;
}

.days div:hover:not(.today) {
  border: $secondairy-color solid 1px !important;
}

.prev-date,
.next-date {
  opacity: 40%;
}

.date {
  display: block;
  text-align: center;
}

.today {
  box-shadow: inset 0 0 0 5px $secondairy-color;
  background-color: $light-color !important;
}

/* ----------------------- */
/* News css */
/* ----------------------- */
p {
  margin-bottom: 0;
  font-family: pt-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.news-card {
  margin-bottom: 5rem;

  img {
    margin-bottom: 2rem;

  }

  h2 {
    font-family: pt-sans-pro, sans-serif;
    font-weight: 900;
  }

  h2,
  p {
    margin: 0px 0px 2rem;
  }
}


.about {
  margin-top: 2rem;

  h1 {
    font-family: pt-sans-pro, sans-serif;
    font-weight: 900;
  }
}

/* ----------------------- */
/* About css */
/* ----------------------- */

.about,
.index {
  margin: 10vh 0;

  h1 {
    font-family: pt-sans-pro, sans-serif;
    font-weight: 900;
    font-size: 4em;
    margin-bottom: 4rem;
    white-space: normal;
  }
}

#abouttext {
  margin-top: 15vh;
}

.column-2 {
  column-count: 2;
}

.gallery {
  img {
    margin-top: 2rem;
  }
}

.align-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

a {
  color: $dark-color !important;
  text-decoration: none !important;
}

.button a {
  color: white !important;
}

/* ----------------------- */
/* Contact css */
/* ----------------------- */

.contactimage {
  margin: 7em 0;
  width: 80%;
  height: auto;
}

#directbericht {
  font-size: 24px;
  font-weight: 600;
}

#contact-submit {
  margin-bottom: 200px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  margin-top: 30px;


  textarea {
    width: 100%;
    resize: none;
    min-height: 200px;
    border: 2px black solid;
  }

  input[type="submit"] {
    width: max-content;
  }

  fieldset {
    position: relative;
    margin: 0px;
    margin-top: -20px;
    padding: 0px;

    input {
      width: 500px;
      border: none;
      border-bottom: 2px $dark-color solid;
    }

    input:focus {
      outline: none !important;
      border: none;
      border-bottom: 2px $base-color solid;
      background-color: clear;
    }

    .text-input-label {
      position: absolute;
    }

    #contact-submit {
      display: none;
    }
  }
}

.button-container {
  width: 100%;
}

.button {
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  color: white !important;
  background-color: $base-color;
  position: relative;
  height: auto;
  display: inline-flex;
  border: 0px;
}

.button-next::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 10px;
  background-image: url(../images/icons/chevron-right-solid.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
  color: white;
}

.button p {
  padding-right: 3em;
  margin: 0px;
}

.red {
  color: $base-color;
}

#bm {
  position: relative;
  width: 150%;
  z-index: -500;
}

/* ----------------------- */
/* mail-sent */
/* ----------------------- */

#mail-sent {
  width: 10%;
}

/* ----------------------- */
/* Homepage css */
/* ----------------------- */

.photo-square {
  background-color: $soft-color;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;

  img {
    margin-bottom: 30px;
    height: 100px;

    transition: 0.2s;
  }

  h1 {
    text-align: center;
    white-space: normal;

    color: white;
    font-size: 3em;
    line-height: 0.8em;

    transition: 0.2s;
  }
}

.photo-square:hover>h1 {
  transform: scale(1.2);
}

.photo-square:hover>img {
  transform: scale(1.2);
}

#homepageafbeelding {
  width: 150%;
}

/*
    RESERVATIE 
                */
.return-btn {
  font-size: 1.2rem;
  position: relative;
  padding-left: 3rem;
}

.return-btn::after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(images/icons/chevron-right-solid-black.svg);
  background-position: center;
  position: absolute;
  left: 0;
}

.event-id-info {
  h2 {
    font-size: 2em;
    margin-bottom: 1em;

    span {
      color: $base-color;
    }
  }

  p {
    margin-top: 2.5em;
  }
}

.event-list {
  padding: 0;
  margin: 0;
  margin-top: 2rem;

  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 2.5rem;
  }

  .beschrijving {
    font-size: 1.5em;
    color: $base-color;
  }
}

.inschrijven {
  display: block;

  input {
    border: none;
    border-bottom: 2px $dark-color solid;
    width: 100% !important;
    margin-top: 2em;
  }

  input[type="submit"] {
    padding: .5rem 2rem;
    border: none;
    width: max-content !important;
    background-color: $base-color;
    color: white;

  }

  .participants-container {
    margin-top: 2rem;
  }

  .label-input-duo {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    label {
      font-size: 1.2rem;
      color: $base-color;
    }
  }
}






// .reservatie-main {
//   max-width: 82.5rem;
//   margin: auto;
// }

// .row-one-reservatie {
//   display: flex;
//   flex-wrap: wrap;

//   max-width: 82.5rem;
//   margin: auto;

//   #description-box {
//     margin: 0 .75rem 0 .75rem;
//     max-width: 26rem;
//     min-width: 20rem;


//     .description-box-head {
//       display: flex;
//       justify-content: space-between;
//       margin-bottom: 2rem;

//     }

//     .beschrijving {
//       font-size: 1.2rem;
//       font-weight: 600;
//       color: $base-color;
//     }
//   }

//   #form {
//     padding-bottom: 1rem;
//   }

//   .col-sm-4:not(#description-box) {
//     margin: 0 .75rem 0 .75rem;
//     max-width: 26rem;
//     min-width: 20rem;

//     display: flex;
//     justify-content: space-around;
//     flex-wrap: wrap;

//     form {
//       width: 90%;
//       max-height: 283px;

//       margin-bottom: 1rem;

//       .reservatie-input {
//         border: none;
//         border-bottom: $base-color 2px solid;
//       }

//       .reservatie-label:not(#nah) {
//         margin-top: 2em;
//       }
//     }


//   }
// }

// .row-two-reservatie {
//   display: flex;
//   flex-wrap: wrap;
//   max-width: 82.5rem;
//   margin: auto;
//   margin-top: 2rem;


//   .col-sm-4 {
//     max-width: 26rem;
//     min-width: 20rem;
//     margin: 0 .75rem 0 .75rem;


//     h1 {
//       margin: 0 0 1.2rem 0;
//     }

//     .event-list {
//       list-style-type: none !important;
//       padding: 0;
//     }

//     ul li {
//       display: flex;
//       justify-content: space-between;


//       margin: 0 0 1rem 0;
//       padding: 0;
//     }

//     figure {
//       width: 2rem;
//       margin-left: auto;
//     }

//     .beschrijving {
//       font-size: 1.2rem;
//       font-weight: 600;
//       color: $base-color;
//     }

//     button {
//       width: 80%;
//       height: 3rem;
//       margin-left: 2.75rem;
//       margin-top: 3.344rem;
//       padding: 0;

//       border: none;
//       background-color: $base-color;
//       color: #fff;
//     }
//   }

//   .col-sm-2 {
//     width: 90%;

//     #top-duo {
//       margin-top: 3.438rem;
//     }

//     .label-input-duo:not(.totaal) {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;

//       width: 90%;
//       margin: 0 auto 1rem auto;

//       #nultottwaalf {
//         margin-left: 1em;
//       }

//       label::after {
//         border: $base-color 1px;
//       }
//     }

//     .label-input-duo .total {
//       font-size: 1.2rem;
//       font-weight: 600;
//       color: $base-color;

//       margin: auto;
//       width: 90%;
//     }


//     select {
//       background-color: $base-color;
//       color: #fff;
//     }
//   }
// }

/*      Filter css      */

.form-title {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {

  #contactanim {
    margin: 0 auto;
    width: 50vw;
  }
}

@media only screen and (min-width: 0px) and (max-width: 992px) {
  #wereldbol {
    display: none;
  }

  .photo-square {
    font-size: 0.8em;
    height: 70%;
  }

  .photo-square>img {
    width: 100px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  #bm {
    width: 100%;
  }

  .footer-navigation {
    padding-bottom: 30px;
    border-bottom: 1px white solid;
  }

  #contactinfo {
    padding-bottom: 30px;
    border-bottom: 1px white solid;
  }

  .footer-column {
    margin-bottom: 2em;
  }

  .footer-column:last-of-type {
    margin-bottom: 0em;
  }

  .navigation-container {
    align-items: center !important;
  }

  .event-filters {
    margin-bottom: 3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {

  .footer-column {
    margin-bottom: 2em;
  }

  .footer-column:last-of-type {
    margin-bottom: 0em;
  }

  .navigation-container {
    align-items: center !important;
  }

  .event-filters {
    margin-bottom: 5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .cal-container {
    padding-right: 2rem !important;
  }

}

@media only screen and (min-width: 1200px) {
  .navigation-container {
    align-items: center !important;
  }

  .event-filters {
    display: block;
  }

  .footer-column {
    margin-bottom: 2em;
  }

  .footer-column:last-of-type {
    margin-bottom: 0em;
  }
}