/* ----------------------- */
/* General css */
/* ----------------------- */
body {
  margin: 0;
  font-family: pt-sans-pro, sans-serif !important;
  height: 100vh;
  width: 100%;
}

h3 {
  padding-bottom: 30px;
}

h1,
h2,
h3 {
  font-weight: 800 !important;
}

#wereldbol {
  position: fixed;
  bottom: -250px;
  right: -495px;
  z-index: -999;
  width: 60%;
}

/* newspage */
p {
  margin-bottom: 0;
  font-family: pt-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100%;
}

.nieuwsartikel {
  margin-bottom: 2rem !important;
}

/* ----------------------- */
/* Header css */
/* ----------------------- */
nav {
  background-color: #eeeeee;
  margin-bottom: 50px;
}

nav .navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
  padding: 1.5rem 0;
}

nav .logo {
  height: 80px;
  margin: 0;
}

nav ul {
  list-style: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 0;
}

nav li {
  margin-left: 75px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

nav li a {
  position: relative;
  font-weight: bold;
  text-decoration: none;
}

nav li .active {
  color: #FFB035 !important;
}

nav li a::after {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  left: -35px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

nav li a:hover {
  color: #FFB035 !important;
}

nav li a:hover:after {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

nav li #home::after {
  background-image: url(../images/icons-black/home-icon.svg);
}

nav li #kalender::after {
  background-image: url(../images/icons-black/kalender-icon.svg);
}

nav li #nieuws::after {
  background-image: url(../images/icons-black/news-icon.svg);
}

nav li #over-ons::after {
  background-image: url(../images/icons-black/gallery-icon.svg);
}

nav li #contact::after {
  background-image: url(../images/icons-black/contact-icon.svg);
}

nav li #home:hover::after {
  background-image: url(../images/icons/home-icon.svg);
}

nav li #kalender:hover::after {
  background-image: url(../images/icons/kalender-icon.svg);
}

nav li #nieuws:hover::after {
  background-image: url(../images/icons/news-icon.svg);
}

nav li #over-ons:hover::after {
  background-image: url(../images/icons/gallery-icon.svg);
}

nav li #contact:hover::after {
  background-image: url(../images/icons/contact-icon.svg);
}

nav li .active#home::after {
  background-image: url(../images/icons/home-icon.svg);
}

nav li .active#kalender::after {
  background-image: url(../images/icons/kalender-icon.svg);
}

nav li .active#nieuws::after {
  background-image: url(../images/icons/news-icon.svg);
}

nav li .active#over-ons::after {
  background-image: url(../images/icons/gallery-icon.svg);
}

nav li .active#contact::after {
  background-image: url(../images/icons/contact-icon.svg);
}

.backarrow {
  width: 30px;
  position: absolute;
}

/*      MOBILE NAVIGATION     */
.dropbtn {
  display: none;
}

@media only screen and (max-width: 995px) {
  .dropbtn {
    background-color: #FFB035;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    width: 5rem;
    height: 3rem;
    display: inline-block;
  }
  .dropup {
    position: relative;
  }
  .dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f100;
    z-index: 1;
    margin: 0;
    margin-left: 25rem;
    margin-bottom: -1rem;
  }
  .dropup-content li {
    list-style: none;
    width: 100%;
  }
  .dropup-content li a {
    color: black;
    padding: 12px;
    text-decoration: none;
    left: 0;
  }
  .dropup:hover .dropup-content {
    display: inline;
  }
  .dropup:checked .dropbtn {
    background-color: #FFB035;
  }
}

@media only screen and (max-width: 760px) {
  .dropup-content {
    margin-left: 15rem;
  }
}

@media only screen and (max-width: 760px) {
  .dropup-content {
    margin-left: 10rem;
    margin-bottom: -10rem;
  }
}

/* ----------------------- */
/* Footer css */
/* ----------------------- */
.animationsGSM {
  display: none;
}

@media only screen and (max-width: 480px) {
  .animationsGSM {
    display: block;
    position: fixed;
    bottom: 50px;
    z-index: -999;
  }
  .animationsDSK {
    display: none;
  }
}

.animationsDSK {
  position: fixed;
  right: 0;
  bottom: -180px;
  z-index: -999;
}

footer {
  margin: 50px 0px 0px;
  overflow: visible;
  background-color: #EB5B55;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 50px 0px;
  list-style: none;
}

footer * {
  color: white !important;
}

footer .active {
  color: #FFB035 !important;
}

footer .footer-navigation {
  margin-bottom: 0;
}

footer .footer-navigation li {
  position: relative;
}

footer .footer-navigation li::before {
  position: absolute;
  content: '';
  background: url(../images/icons/chevron-right-solid.svg);
  background-repeat: no-repeat;
  left: -25px;
  top: 6px;
  height: 12px;
  /*height of image*/
  width: 33px;
  /*width of image*/
  position: absolute;
}

.footerlogos img {
  width: 50px;
  margin: 5px;
}

.sociallinks img {
  width: 30px;
  white-space: nowrap;
}

footer ul {
  list-style: none !important;
}

footer ul li a {
  color: white !important;
}

/* ----------------------- */
/* Kalender css */
/* ----------------------- */
/* cards */
.card {
  position: inherit !important;
  border: none !important;
  margin: 2rem 0px;
}

.card img {
  padding: 0;
  width: 100%;
}

.info {
  position: relative;
  font-size: 15px;
  margin-top: -.7rem;
}

.info p {
  margin: 1rem 0;
}

.layout-btn {
  margin: 0 !important;
  padding: 0 0 1rem 0;
}

.event-layout-btn {
  border: none;
  background-color: transparent;
  width: 40px !important;
  height: 40px;
  background-size: cover;
  background-position: center;
}

.event-layout-btn:focus {
  outline: none;
}

.box-layout-btn {
  background-image: url(../images/icons/evenementen/box-layout-btn.svg);
}

.box-layout-btn.active {
  background-image: url(../images/icons/evenementen/box-layout-btn-selected.svg);
}

.row-layout-btn {
  background-image: url(../images/icons/evenementen/row-layout-btn.svg);
  margin-left: .5rem;
}

.filterlist {
  background-color: #FFB035;
  margin: 0 0 3em 0 !important;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filterlist span {
  display: inline;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  color: #FFB035;
  margin-right: 1em;
  padding-right: 3em;
  position: relative;
}

.filterlist span::after {
  content: 'x';
  position: absolute;
  top: -2px;
  right: 10px;
}

.textbubblecontainer {
  margin-top: -1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textbubblecontainer img {
  width: 35px !important;
}

.textbubblecontainer span {
  color: #FFB035;
  right: 20px;
  top: 5px;
  font-size: 1em;
}

.datum {
  font-size: 20px;
  font-weight: 400;
  float: right;
  margin-right: 5%;
  line-height: 30px;
}

.titleDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titleDate h2 {
  width: 60%;
  margin-bottom: 0;
}

.description {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

.eventinfo {
  display: block;
  margin-top: 1rem;
}

.eventinfo img {
  width: 25px;
  margin-right: .5rem;
}

.price {
  font-size: 18px;
  position: relative;
  float: right;
  margin-right: 5%;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
}

.price img {
  width: 25px;
  margin-right: .5rem;
}

/*Kalender*/
.cal-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  font-family: "pt-sans-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.cal-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calendar {
  padding: 1rem;
  width: 100%;
  background-color: #EB5B55;
  color: #EB5B55;
}

#selected-date {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: 2rem 0;
}

.month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #EB5B55;
  padding: 0 2rem;
}

.month-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-family: 'PT-sans-pro', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

.month-slider p {
  padding: 0;
  margin: 0;
  color: #eeeeee;
}

.month .prev {
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  color: #eeeeee;
}

.month .next {
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  color: #eeeeee;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
  text-align: center;
}

.weekdays {
  width: 100%;
  color: #eeeeee;
}

.weekdays tr {
  width: 100%;
}

.weekdays td {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
}

.days {
  width: 100%;
  margin: 0.2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-spacing: 20px;
}

.days td {
  margin: 0.3rem;
  color: #EB5B55;
  font-size: 18px;
  border: 0;
}

.days td:not(.today) {
  background-color: #eeeeee !important;
}

.days div:hover:not(.today) {
  border: #EB5B55 solid 1px !important;
}

.prev-date,
.next-date {
  opacity: 40%;
}

.date {
  display: block;
  text-align: center;
}

.today {
  -webkit-box-shadow: inset 0 0 0 5px #EB5B55;
          box-shadow: inset 0 0 0 5px #EB5B55;
  background-color: #eeeeee !important;
}

/* ----------------------- */
/* News css */
/* ----------------------- */
p {
  margin-bottom: 0;
  font-family: pt-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.news-card {
  margin-bottom: 5rem;
}

.news-card img {
  margin-bottom: 2rem;
}

.news-card h2 {
  font-family: pt-sans-pro, sans-serif;
  font-weight: 900;
}

.news-card h2,
.news-card p {
  margin: 0px 0px 2rem;
}

.about {
  margin-top: 5rem;
}

.about h1 {
  font-family: pt-sans-pro, sans-serif;
  font-weight: 900;
}

/* ----------------------- */
/* About css */
/* ----------------------- */
.about,
.index {
  margin: 25vh 0;
}

.about h1,
.index h1 {
  font-family: pt-sans-pro, sans-serif;
  font-weight: 900;
  font-size: 4em;
  margin-bottom: 4rem;
  white-space: normal;
}

#abouttext {
  margin-top: 15vh;
}

.column-2 {
  -webkit-column-count: 2;
          column-count: 2;
}

.gallery img {
  margin-top: 2rem;
}

.align-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: #000000 !important;
  text-decoration: none !important;
}

.button a {
  color: white !important;
}

/* ----------------------- */
/* Contact css */
/* ----------------------- */
.contactimage {
  margin: 7em 0;
  width: 80%;
  height: auto;
}

#directbericht {
  font-size: 24px;
  font-weight: 600;
}

#contact-submit {
  margin-bottom: 200px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-top: 30px;
}

form textarea {
  width: 100%;
  resize: none;
  min-height: 200px;
  border: 2px black solid;
}

form input[type="submit"] {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

form fieldset {
  position: relative;
  margin: 0px;
  margin-top: -20px;
  padding: 0px;
}

form fieldset input {
  width: 500px;
  border: none;
  border-bottom: 2px #000000 solid;
}

form fieldset input:focus {
  outline: none !important;
  border: none;
  border-bottom: 2px #FFB035 solid;
  background-color: clear;
}

form fieldset .text-input-label {
  position: absolute;
}

form fieldset #contact-submit {
  display: none;
}

.button-container {
  width: 100%;
}

.button {
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  color: white !important;
  background-color: #FFB035;
  position: relative;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0px;
}

.button-next::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 10px;
  background-image: url(../images/icons/chevron-right-solid.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
  color: white;
}

.button p {
  padding-right: 3em;
  margin: 0px;
}

.red {
  color: #FFB035;
}

#bm {
  position: relative;
  width: 150%;
  z-index: -500;
}

/* ----------------------- */
/* mail-sent */
/* ----------------------- */
#mail-sent {
  width: 10%;
}

/* ----------------------- */
/* Homepage css */
/* ----------------------- */
.photo-square {
  background-color: #72E3D8;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

.photo-square img {
  margin-bottom: 30px;
  height: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.photo-square h1 {
  text-align: center;
  white-space: normal;
  color: white;
  font-size: 3em;
  line-height: 0.8em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.photo-square:hover > h1 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.photo-square:hover > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#homepageafbeelding {
  width: 150%;
}

/*
    RESERVATIE 
                */
.return-btn {
  font-size: 1.2rem;
  position: relative;
  padding-left: 3rem;
}

.return-btn::after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(images/icons/chevron-right-solid-black.svg);
  background-position: center;
  position: absolute;
  left: 0;
}

.event-id-info h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.event-id-info h2 span {
  color: #FFB035;
}

.event-id-info p {
  margin-top: 2.5em;
}

.event-list {
  padding: 0;
  margin: 0;
  margin-top: 2rem;
}

.event-list li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 2.5rem;
}

.event-list .beschrijving {
  font-size: 1.5em;
  color: #FFB035;
}

.inschrijven {
  display: block;
}

.inschrijven input {
  border: none;
  border-bottom: 2px #000000 solid;
  width: 100% !important;
  margin-top: 2em;
}

.inschrijven input[type="submit"] {
  padding: .5rem 2rem;
  border: none;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  background-color: #FFB035;
  color: white;
}

.inschrijven .participants-container {
  margin-top: 2rem;
}

.inschrijven .label-input-duo {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inschrijven .label-input-duo label {
  font-size: 1.2rem;
  color: #FFB035;
}

/*      Filter css      */
.form-title {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  #contactanim {
    margin: 0 auto;
    width: 50vw;
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  #bm {
    width: 100%;
  }
  .footer-navigation {
    padding-bottom: 30px;
    border-bottom: 1px white solid;
  }
  #contactinfo {
    padding-bottom: 30px;
    border-bottom: 1px white solid;
  }
  .footer-column {
    margin-bottom: 2em;
  }
  .footer-column:last-of-type {
    margin-bottom: 0em;
  }
  .navigation-container {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .event-filters {
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-column {
    margin-bottom: 2em;
  }
  .footer-column:last-of-type {
    margin-bottom: 0em;
  }
  .navigation-container {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .event-filters {
    margin-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cal-container {
    padding-right: 2rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .navigation-container {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .event-filters {
    display: block;
  }
  .footer-column {
    margin-bottom: 2em;
  }
  .footer-column:last-of-type {
    margin-bottom: 0em;
  }
}
/*# sourceMappingURL=style.css.map */