$base-color: #EB5B55;


/* newspage */
p {
    margin-bottom: 0;
    font-family: pt-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    width: 100%;
}

.news-card {
    margin-top: 5rem;
    div {
        padding: 1.5rem;
    }
    img {
        margin-bottom: 2rem;

    }

    h2 {
        font-family: pt-sans-pro, sans-serif;
        font-weight: 900;
    }

    h2 + p {
        margin: 2rem 0;
    }
}

/* about page */

.about {
    margin: 10rem 0;
    h1 {
        font-family: pt-sans-pro, sans-serif;
        font-weight: 900;
    }
}

.gallery {
    img{
        margin-top: 2rem;
    }
}

.align-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1{
        font-size: 4em;
        margin-bottom: 5rem;
        white-space: normal;
    }
    span {
        column-count: 2;
    }
}



* {
    font-family: 'PT-Sans-Pro', sans-serif;
}

body {
    margin: 0;
    font-family: pt-sans-pro;
    height: 100vh;
    width: 100%;
}

header {
    height: 75px;
    background-color: #c0c5cb;
    position: relative;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: 80px;
    background-size: 75px;
}

header ul {
    margin: 25px 0px 0px;
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

header li {
<<<<<<< HEAD
    margin-left: 25px;
=======
  margin-left: 60px;

  a{
    position: relative;
  }

  a::after{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    left: -30px;
    background-position: center;
    background-repeat: no-repeat;
  }

  #kalender::after{
    background-image: url(../images/icons/kalender-icon.svg);
  }
  
  #nieuws::after{
    background-image: url(../images/icons/news-icon.svg);
  }

  #over-ons::after{
    background-image: url(../images/icons/gallery-icon.svg);
  }

  #contact::after{
    background-image: url(../images/icons/contact-icon.svg);
  }
<<<<<<< HEAD


>>>>>>> d34c5b78ca47cc0dab7f4ba6f8f439b17af6149e
=======
>>>>>>> 831a1f727a93370d8c2e8ba7de083c4228f63a48
}


footer {
<<<<<<< HEAD
    position: absolute;
    overflow: hidden;
    bottom: 0;
    border-top: black 1px solid;
    width: 100%;
    height: 250px;
    padding: 20px 0px;
=======
    margin-top: 5rem;
  overflow: hidden;
  border-top: black 1px solid;
  width: 100%;
  height: 250px;
  padding: 20px 0px;
>>>>>>> 831a1f727a93370d8c2e8ba7de083c4228f63a48
}

footer ul {
<<<<<<< HEAD
    display: block;
    top: 30px;
    list-style: none;
    margin-top: 20px;

}

.contact {


    
}



    a {
        color: black !important;
        text-decoration: none;
    }

    /* cards */

    .card {
        left: 100px;
    }

    .card img {
        width: 100%;
    }

    .info {
        position: relative;
        font-size: 18px;
        padding: 20px;
    }

    h1 {
        white-space: nowrap;
        font-weight: 800;
        font-size: 30px;
        margin: 0;
        margin-top: -0.5em;
        top: 1vh;
    }

    .card .textbubblecontainer {
        position: relative;
        margin-top: -1em;
    }

    .textbubbles {
        padding-left: 1vw;
        white-space: nowrap;
        float: right;
        margin-right: 20px;
    }

    .textbubbles img {
        width: 2vw;
        padding-right: 0.5em;
    }

    .datum {
        font-size: 24px;
    }

    .button-container {
        width: 100%;
        height: 70px;
        display: inline-flex;
    }

    .button {
        display: table;
        float: left;
        margin: 0px auto 0px auto;
        padding: 0.8em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color: #EB5B55;
        white-space: nowrap;
        position: relative;
    }

    .button-next::after {
        content: '';
        position: absolute;
        right: 5px;
        top: 10px;
        background-image: url(../images/icons/chevron-right-solid.svg);
        height: 40px;
        width: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80% 80%;
    }

    .button p {
        padding-right: 8em;
        display: inline;
    }

    .red {
        background-color: #EB5B55;
    }


    /*# sourceMappingURL=style.css.map */
=======
  display: block;
  top: 30px;
  list-style: none;
}

a {
  color: black !important;
  text-decoration: none;
}

/* cards */

.card {
  left: 100px;
}

.card img {
  width: 100%;
}

.info {
  position: relative;
  font-size: 18px;
  padding: 20px;
}

h1 {
  white-space: nowrap;
  font-weight: 800;
  font-size: 30px;
  margin: 0;
  margin-top: -0.5em;
  top: 1vh;
}

.card .textbubblecontainer {
  position: relative;
  margin-top: -1em;
}

.textbubbles {
  padding-left: 1vw;
  white-space: nowrap;
  float: right;
  margin-right: 20px;
}

.textbubbles img {
  width: 2vw;
  padding-right: 0.5em;
}

.datum {
  font-size: 24px;
}

.button-container{
  width: 100%;
  height: 70px;
  display: inline-flex;
}

.button {
  display: table;
  float: left;
  margin: 0px auto 0px auto;
  padding: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #EB5B55;
  white-space: nowrap;
  position: relative;
}

.button-next::after{
  content: '';
  position: absolute;
  right: 5px;
  top: 10px;
  background-image: url(../images/icons/chevron-right-solid.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
}

.button p {
  padding-right: 8em;
  display: inline;
}

.red{
  background-color: #EB5B55;
}


/*# sourceMappingURL=style.css.map */
>>>>>>> d34c5b78ca47cc0dab7f4ba6f8f439b17af6149e
