/* ----------------------- */
/* General css */
/* ----------------------- */
body {
  margin: 0;
  font-family: pt-sans-pro, sans-serif !important;
  height: 100vh;
  width: 100%;
}

h3 {
  padding-bottom: 30px;
}

h1,
h2,
h3 {
  font-weight: 800 !important;
}

/* newspage */
p {
  margin-bottom: 0;
  font-family: pt-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100%;
}

/* ----------------------- */
/* Header css */
/* ----------------------- */
header {
  height: 120px;
  background-color: #EEEEEE;
  margin: 0px 0px 50px 0px;
}

header .logo {
  height: 70px;
  width: auto;
  margin: 20px 0px;
}

header ul {
  margin: 70px 0px 0px;
  float: right;
  list-style: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li {
  margin-left: 75px;
}

header li a {
  position: relative;
  font-weight: bold;
  text-decoration: none;
}

header li .active {
  color: #EB5B55 !important;
}

header li a::after {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  left: -35px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

header li a:hover {
  color: #e05248 !important;
}

header li a:hover:after {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

header li #home::after {
  background-image: url(../images/icons-black/home-icon.svg);
}

header li #kalender::after {
  background-image: url(../images/icons-black/kalender-icon.svg);
}

header li #nieuws::after {
  background-image: url(../images/icons-black/news-icon.svg);
}

header li #over-ons::after {
  background-image: url(../images/icons-black/gallery-icon.svg);
}

header li #contact::after {
  background-image: url(../images/icons-black/contact-icon.svg);
}

header li #home:hover::after {
  background-image: url(../images/icons/home-icon.svg);
}

header li #kalender:hover::after {
  background-image: url(../images/icons/kalender-icon.svg);
}

header li #nieuws:hover::after {
  background-image: url(../images/icons/news-icon.svg);
}

header li #over-ons:hover::after {
  background-image: url(../images/icons/gallery-icon.svg);
}

header li #contact:hover::after {
  background-image: url(../images/icons/contact-icon.svg);
}

header li .active#home::after {
  background-image: url(../images/icons/home-icon.svg);
}

header li .active#kalender::after {
  background-image: url(../images/icons/kalender-icon.svg);
}

header li .active#nieuws::after {
  background-image: url(../images/icons/news-icon.svg);
}

header li .active#over-ons::after {
  background-image: url(../images/icons/gallery-icon.svg);
}

header li .active#contact::after {
  background-image: url(../images/icons/contact-icon.svg);
}

.backarrow {
  width: 30px;
  position: absolute;
}

/* ----------------------- */
/* Footer css */
/* ----------------------- */
.animationsGSM {
  display: none;
}

@media only screen and (max-width: 480px) {
  .animationsGSM {
    display: block;
    position: fixed;
    bottom: 50px;
    z-index: -999;
  }
  .animationsDSK {
    display: none;
  }
}

.animationsDSK {
  position: fixed;
  right: 0;
  bottom: -180px;
  z-index: -999;
}

footer {
  margin: 50px 0px 0px;
  overflow: visible;
  border-top: black 1px solid;
  width: 100%;
  height: 250px;
  padding: 50px 0px;
  list-style: none;
}

footer .active {
  color: #EB5B55 !important;
}

footer .footer-navigation li {
  position: relative;
}

footer .footer-navigation li::before {
  position: absolute;
  content: '';
  background: url(../images/icons/chevron-right-solid-black.svg);
  background-repeat: no-repeat;
  left: -25px;
  top: 6px;
  height: 12px;
  /*height of image*/
  width: 33px;
  /*width of image*/
  position: absolute;
}

.footerlogos img {
  width: 50px;
  margin: 5px;
}

.sociallinks img {
  width: 30px;
  white-space: nowrap;
}

footer ul {
  list-style: none !important;
}

/* ----------------------- */
/* Kalender css */
/* ----------------------- */
/* cards */
.card {
  position: inherit !important;
  border: none !important;
  margin: 30px 0px;
}

.card img {
  padding: 0;
  width: 100%;
}

.info {
  position: relative;
  font-size: 15px;
  /*padding: 20px;*/
  padding: 20px 0px;
}

.info p {
  margin: 20px 0px 30px;
}

h1 {
  white-space: nowrap;
  font-weight: 800;
  font-size: 30px;
  margin: 0;
  margin-top: -0.5em;
  top: 1vh;
}

.card .textbubblecontainer {
  margin-top: -1em;
}

.textbubbles {
  padding-left: 1vw;
  white-space: nowrap;
  float: right;
  margin-right: 20px;
}

.textbubbles img {
  width: 35px !important;
  padding-right: 0.2em;
}

.datum {
  font-size: 20px;
  font-weight: 400;
  float: right;
  margin-right: 5%;
  line-height: 30px;
}

.time {
  color: grey;
}

.description {
  padding-top: 0;
}

.location img {
  width: 25px;
}

.price {
  font-size: 18px;
  position: relative;
  float: right;
  margin-right: 5%;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
}

.price img {
  width: 25px;
}

/*Kalender*/
.cal-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  font-family: "pt-sans-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.cal-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calendar {
  width: 100%;
  background-color: #F4A29D;
  color: #eee;
}

.month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: 12rem;
  background-color: #F4A29D;
  padding: 0 2rem;
}

.month-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-family: 'PT-sans-pro', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

.month-slider p {
  padding: 0;
  margin: 0;
}

.month .prev {
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  color: #eee;
}

.month .next {
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  color: #eee;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
  text-align: center;
}

.weekdays {
  width: 100%;
  color: #eee;
}

.weekdays tr {
  width: 100%;
}

.weekdays td {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
}

.days {
  width: 100%;
  margin: 0.2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-spacing: 20px;
}

.days td {
  margin: 0.3rem;
  color: #EB5B55;
  font-size: 18px;
  border: 0;
}

.days td:not(.today) {
  background-color: #eee !important;
}

.days div:hover:not(.today) {
  border: #EB5B55 solid 1px !important;
}

.prev-date,
.next-date {
  opacity: 40%;
}

.date {
  display: block;
  text-align: center;
}

.today {
  background-color: #EB5B55 !important;
}

.today .date {
  color: white;
}

/* ----------------------- */
/* News css */
/* ----------------------- */
p {
  margin-bottom: 0;
  font-family: pt-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.news-card {
  margin-bottom: 5rem;
}

.news-card img {
  margin-bottom: 2rem;
}

.news-card h2 {
  font-family: pt-sans-pro, sans-serif;
  font-weight: 900;
}

.news-card h2,
.news-card p {
  margin: 0px 0px 2rem;
}

.about {
  margin-top: 5rem;
}

.about h1 {
  font-family: pt-sans-pro, sans-serif;
  font-weight: 900;
}

/* ----------------------- */
/* Article css */
/* ----------------------- */
.articleimage {
  max-height: 60vh;
  width: auto !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.articletitle {
  font-size: 40px;
  white-space: nowrap;
}

.articledate {
  font-size: 20px;
  color: #e05248;
  margin-bottom: 5px;
}

.shareonfacebook {
  position: absolute;
}

.shareonfacebook img {
  width: 30px;
}

/* ----------------------- */
/* About css */
/* ----------------------- */
.about,
.index {
  margin: 7rem 0;
}

.about h1,
.index h1 {
  font-family: pt-sans-pro, sans-serif;
  font-weight: 900;
  font-size: 4em;
  margin-bottom: 5rem;
  white-space: normal;
}

.column-2 {
  -webkit-column-count: 2;
          column-count: 2;
}

.gallery img {
  margin-top: 2rem;
}

.align-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.button a {
  color: white !important;
}

/* ----------------------- */
/* Contact css */
/* ----------------------- */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
}

form textarea {
  resize: none;
  min-height: 200px;
  border: 2px black solid;
}

form input[type="submit"] {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

form fieldset {
  position: relative;
  margin: 10px 0px;
}

form fieldset input {
  width: 500px;
  border: none;
  border-bottom: 2px black solid;
}

form fieldset input:focus {
  outline: none !important;
  border: none;
  border-bottom: 2px #EB5B55 solid;
  background-color: clear;
}

form fieldset .text-input-label {
  position: absolute;
}

form fieldset #contact-submit {
  display: none;
}

form fieldset label[for="contact-submit"] {
  position: relative;
  background-color: #EB5B55;
  padding: 5px 70px 5px 20px;
  color: white;
}

form fieldset label[for="contact-submit"]::after {
  content: '';
  background-image: url(../images/icons/chevron-right-solid.svg);
  color: white;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  right: 5px;
  top: 12px;
  background-size: 90%;
  background-position: center;
}

.button-container {
  width: 100%;
  height: 70px;
}

.button {
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  color: white !important;
  background-color: #EB5B55;
  position: relative;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 0px;
}

.button-next::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 10px;
  background-image: url(../images/icons/chevron-right-solid.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
  color: white;
}

.button p {
  padding-right: 8em;
  margin: 0px;
}

.red {
  color: #EB5B55;
}

.photo-square {
  background-color: #EB5B55;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

.photo-square img {
  margin-bottom: 30px;
  height: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.photo-square h1 {
  text-align: center;
  white-space: normal;
  color: white;
  font-size: 3em;
  line-height: 0.8em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* ----------------------- */
/* Homepage css */
/* ----------------------- */
.photo-square:hover > h1 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.photo-square:hover > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.kinderen {
  background-image: url(../images/home-kleuters.jpg);
}

.ouders {
  background-image: url(../images/home-tieners.jpg);
}

.gezin {
  background-image: url(../images/home-gezin.jpg);
}

#homepageafbeelding {
  width: 150%;
}

/*
    RESERVATIE 
                */
.reservatie-main {
  max-width: 82.5rem;
  margin: auto;
}

.row-one-reservatie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 82.5rem;
  margin: auto;
}

.row-one-reservatie #description-box {
  margin: 0 .75rem 0 .75rem;
  max-width: 26rem;
  min-width: 20rem;
}

.row-one-reservatie #description-box .description-box-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.row-one-reservatie #description-box .beschrijving {
  font-size: 1.2rem;
  font-weight: 600;
  color: #EB5B55;
}

.row-one-reservatie #form {
  padding-bottom: 1rem;
}

.row-one-reservatie .col-sm-4:not(#description-box) {
  margin: 0 .75rem 0 .75rem;
  max-width: 26rem;
  min-width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-one-reservatie .col-sm-4:not(#description-box) form {
  width: 90%;
  max-height: 283px;
  margin-bottom: 1rem;
}

.row-one-reservatie .col-sm-4:not(#description-box) form .reservatie-input {
  border: none;
  border-bottom: #EB5B55 2px solid;
}

.row-one-reservatie .col-sm-4:not(#description-box) form .reservatie-label:not(#nah) {
  margin-top: 2em;
}

.row-two-reservatie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 82.5rem;
  margin: auto;
  margin-top: 2rem;
}

.row-two-reservatie .col-sm-4 {
  max-width: 26rem;
  min-width: 20rem;
  margin: 0 .75rem 0 .75rem;
}

.row-two-reservatie .col-sm-4 h1 {
  margin: 0 0 1.2rem 0;
}

.row-two-reservatie .col-sm-4 .event-list {
  list-style-type: none !important;
  padding: 0;
}

.row-two-reservatie .col-sm-4 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 1rem 0;
  padding: 0;
}

.row-two-reservatie .col-sm-4 figure {
  width: 2rem;
  margin-left: auto;
}

.row-two-reservatie .col-sm-4 .beschrijving {
  font-size: 1.2rem;
  font-weight: 600;
  color: #EB5B55;
}

.row-two-reservatie .col-sm-4 button {
  width: 80%;
  height: 3rem;
  margin-left: 2.75rem;
  margin-top: 3.344rem;
  padding: 0;
  border: none;
  background-color: #EB5B55;
  color: #fff;
}

.row-two-reservatie .col-sm-2 {
  width: 90%;
}

.row-two-reservatie .col-sm-2 #top-duo {
  margin-top: 3.438rem;
}

.row-two-reservatie .col-sm-2 .label-input-duo:not(.totaal) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto 1rem auto;
}

.row-two-reservatie .col-sm-2 .label-input-duo:not(.totaal) #nultottwaalf {
  margin-left: 1em;
}

.row-two-reservatie .col-sm-2 .label-input-duo:not(.totaal) label::after {
  border: #EB5B55 1px;
}

.row-two-reservatie .col-sm-2 .label-input-duo .total {
  font-size: 1.2rem;
  font-weight: 600;
  color: #EB5B55;
  margin: auto;
  width: 90%;
}

.row-two-reservatie .col-sm-2 select {
  background-color: #EB5B55;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */