$base-color: #EB5B55;

/* ----------------------- */
/* General css */
/* ----------------------- */


body {
  margin: 0;
  font-family: pt-sans-pro, sans-serif !important;
  height: 100vh;
  width: 100%;
}

h3 {
  padding-bottom: 30px;
}

h1,
h2,
h3 {
  font-weight: 800 !important;
}

/* newspage */
p {
  margin-bottom: 0;
  font-family: pt-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100%;
}

/* ----------------------- */
/* Header css */
/* ----------------------- */

header {
  height: 120px;
  background-color: #EEEEEE;
  margin: 0px 0px 50px 0px;

  .logo {
    height: 70px;
    width: auto;
    margin: 20px 0px;
  }


  ul {
    margin: 70px 0px 0px;
    float: right;
    list-style: none;
    display: flex;
  }

}


header li {
  margin-left: 75px;

  a {
    position: relative;
    font-weight: bold;
    text-decoration: none;
  }

  .active {
    color: $base-color !important;
  }

  a::after {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    left: -35px;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s;
  }

  a:hover:after {
    transition: transform 0.5s;
    transform: rotate(15deg);
  }

  #home::after {
    background-image: url(../images/icons/home-icon.svg);
  }

  #kalender::after {
    background-image: url(../images/icons/kalender-icon.svg);
  }

  #nieuws::after {
    background-image: url(../images/icons/news-icon.svg);
  }

  #over-ons::after {
    background-image: url(../images/icons/gallery-icon.svg);
  }

  #contact::after {
    background-image: url(../images/icons/contact-icon.svg);
  }


}

/* ----------------------- */
/* Footer css */
/* ----------------------- */

footer {
  margin: 50px 0px 0px;
  overflow: hidden;
  border-top: black 1px solid;
  width: 100%;
  height: 250px;
  padding: 50px 0px;

  .active {
    color: $base-color !important;
  }

  .footer-navigation {

    li {
      position: relative;
    }

    li::before {
      position: absolute;
      content: '';
      background: url(../images/icons/chevron-right-solid-black.svg);
      background-repeat: no-repeat;
      left: -25px;
      top: 6px;
      height: 12px;
      /*height of image*/
      width: 33px;
      /*width of image*/
      position: absolute;
    }

  }

}

footer ul {
  display: block;
  list-style: none;

}

/* ----------------------- */
/* Kalender css */
/* ----------------------- */

/* cards */

.card {
  position: inherit !important;
  border: none !important;
  margin: 30px 0px;
}

.card img {
  width: 100%;
}

.info {
  position: relative;
  font-size: 15px;
  /*padding: 20px;*/
  padding: 20px 0px;

  p {
    margin: 20px 0px 30px;
  }
}

h1 {
  white-space: nowrap;
  font-weight: 800;
  font-size: 30px;
  margin: 0;
  margin-top: -0.5em;
  top: 1vh;
}

.card .textbubblecontainer {
  margin-top: -1em;
}

.textbubbles {
  padding-left: 1vw;
  white-space: nowrap;
  float: right;
  margin-right: 20px;
}

.textbubbles img {
  width: 40px !important;
  height: auto !important;
  padding-right: 0.5em;
}

.datum {
  font-size: 20px;
}

/*Kalender*/

.cal-container {
  padding: 0;
  margin: 0;

  width: 100%;
  height: auto;


  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  font-family: "pt-sans-pro",
    sans-serif;
  font-weight: 600;
  font-style: normal;

}

.cal-container * {
  box-sizing: border-box;
}

.calendar {
  width: 100%;
  background-color: #F4A29D;
  color: #eee;
}

.month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: 12rem;
  background-color: #F4A29D;
  padding: 0 2rem;
}

.month-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  font-family: 'PT-sans-pro', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

.month-slider p {
  padding: 0;
  margin: 0;
}



.month .prev {
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  color: #eee;
}

.month .next {
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  color: #eee;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
  text-align: center;
}

.weekdays {
  width: 100%;
  color: #eee;

  tr {
    width: 100%;
  }
}

.weekdays td {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
}

.days {
  width: 100%;
  margin: 0.2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-spacing: 20px;
}

.days td {
  margin: 0.3rem;
  color: #EB5B55;
  font-size: 18px;
  border: 0;
}

.days td:not(.today) {
  background-color: #eee !important;
}

.days div:hover:not(.today) {
  border: #EB5B55 solid 1px !important;
}

.prev-date,
.next-date {
  opacity: 40%;
}

.today {
  background-color: #EB5B55 !important;

  .date {
    color: white;
  }

}

/* ----------------------- */
/* News css */
/* ----------------------- */
p {
  margin-bottom: 0;
  font-family: pt-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.news-card {
  margin-bottom: 5rem;

  img {
    margin-bottom: 2rem;

  }

  h2 {
    font-family: pt-sans-pro, sans-serif;
    font-weight: 900;
  }

  h2,
  p {
    margin: 0px 0px 2rem;
  }
}


.about {
  margin-top: 5rem;

  h1 {
    font-family: pt-sans-pro, sans-serif;
    font-weight: 900;
  }
}


/* ----------------------- */
/* About css */
/* ----------------------- */

.about,
.index {
  margin: 7rem 0;

  h1 {
    font-family: pt-sans-pro, sans-serif;
    font-weight: 900;
    font-size: 4em;
    margin-bottom: 5rem;
    white-space: normal;
  }
}

.column-2 {
  column-count: 2;
}

.gallery {
  img {
    margin-top: 2rem;
  }
}

.align-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

a {
  color: black !important;
  text-decoration: none !important;
}

/* ----------------------- */
/* Contact css */
/* ----------------------- */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }

  textarea {
    resize: none;
    min-height: 200px;
    border: 2px black solid;
  }

  input[type="submit"] {
    width: max-content;
  }

  fieldset {
    position: relative;
    margin: 10px 0px;

    input {
      width: 500px;
      border: none;
      border-bottom: 2px black solid;
    }

    input:focus {
      outline: none !important;
      border: none;
      border-bottom: 2px $base-color solid;
      background-color: clear;
    }

    .text-input-label {
      position: absolute;
    }

    #contact-submit {
      display: none;
    }

    label[for="contact-submit"] {
      position: relative;
      background-color: $base-color;
      padding: 5px 70px 5px 20px;
      color: white;
    }

    label[for="contact-submit"]::after {
      content: '';
      background-image: url(../images/icons/chevron-right-solid.svg);
      color: white;
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      right: 5px;
      top: 12px;
      background-size: 90%;
      background-position: center;
    }
  }
}

.button-container {
  width: 100%;
  height: 70px;
}

.button {
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #EB5B55;
  position: relative;
  height: auto;
  display: inline-flex;
  border: 0px;
}

.button-next::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 10px;
  background-image: url(../images/icons/chevron-right-solid.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
  color: white;
}

.button p {
  padding-right: 8em;
  margin: 0px;
}

.red {
  color: $base-color;
}

.photo-square {
  background-color: #EB5B55;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;

  img {
    width: 150px;
    margin-bottom: 30px;
  }

  h1 {
    color: white;
    font-size: 4em;
  }
}

.kinderen {
  background-image: url(../images/home_voorkinderen.jpg);
}

.ouders {
  background-image: url(../images/home_voorouders.jpg);
}

.gezin {
  background-image: url(../images/home_voorgezin.jpg);
}

/*
    RESERVATIE 
                */

.row-one-reservatie {
  display: flex;
  width: 73.70%;
  margin: auto;


  figure {}

  #leeftijd-cat {
    display: inline;
  }

  .col-sm-4 {
    display: flex;
    justify-content: space-around;
    max-width: 33%;

    form {
      width: 90%;
      max-height: 283px;

      .reservatie-input {
        border: none;
        border-bottom: $base-color 2px solid;
      }

      .reservatie-label:not(#nah) {
        padding-top: 2em;
      }
    }

    .col-sm-2 {
      width: 90%;

      .label-input-duo:not(.totaal) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin: 1rem auto 6.2rem auto;

        #nultottwaalf {
          margin-left: 1em;
        }
      }



      select {
        background-color: $base-color;
        color: #fff;
      }
    }

  }
}

.row-two-reservatie {
  display: flex;


  width: 73.70%;
  margin: auto;
  margin-top: 2rem;



  .col-sm-4 {

    h1 {
      margin: 0 0 1.2rem 0;
    }

    .event-list {
      list-style-type: none;
    }

    .event-list-items {
      display: flex;
      justify-content: space-between;
      width: 70%;

    }

    figure {
      width: 2rem;
      margin-left: auto;
    }

    .beschrijving {
      font-size: 1.2rem;
      font-weight: 600;
      color: $base-color;
    }

    button {
      width: 80%;
      height: 3rem;

      margin: 10rem 0 0 5.18rem;
      padding: 0;
      border: none;
      background-color: $base-color;
      color: #fff;
    }
  }

}